/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    line-height: 1.6;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    width: 100%;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Home link */
.logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-decoration: none; /* removes underline */
    transition: color 0.3s ease;
}

.logo:hover {
    color: #60a5fa;
}

/* Container (main box) */
.container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;

    background: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

/* Headings */
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #93c5fd;
}

h3 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #93c5fd;
}

/* Text */
p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #e2e8f0;
}

/* Button (same style as landing page) */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #3b82f6;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #2563eb;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(59, 130, 246, 0.4);
}

.btn:active {
    transform: scale(0.96);
}

table {
  border-collapse: collapse;
  width: 300px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: steelblue;
  color: white;
}

tr:nth-child(even) {
  background-color: steelblue;
}

.viki-hover {
  position: relative;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.viki-hover img {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  width: 200px;
  border: 2px solid black;
  background: white;
  z-index: 10;
}

.viki-hover:hover img {
  display: block;
}

.ava-hover {
  position: relative;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.ava-hover img {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  width: 200px;
  border: 2px solid black;
  background: white;
  z-index: 10;
}

.ava-hover:hover img {
  display: block;
}

figure {
  width: 300px;
  margin: 0 auto;   /* centers the whole block */
  text-align: center;
}

.img-group {
  text-align: center;
}

.images {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.caption {
  margin-top: 10px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

